 <form ng-submit="crea()" novalidate>
 
 <div class="form-group">
    <label for="titolo">Titolo</label>
    <input type="text" class="form-control" id="titolo" placeholder="inserisci un titolo" ng-model="nuovo.titolo">
  </div>
   <div class="form-group">
    <label for="descrizione">Descrizione</label>
    <input type="text" class="form-control" id="descrizione" placeholder="inserisci la descrizione" ng-model="nuovo.descrizione">
  </div>
<button class="btn btn-primary">Crea</button>
</form>


<div ng-repeat="todo in lista">   
<input type="checkbox" ng-checked="todo.fatto" >
<button class="btn btn-danger">Cancella</button>
<h4>{{todo.titolo}}</h4>
<h4>{{todo.descrizione}}</h4>
 </div>